.ui.input.search-input {
  flex-shrink: 0;
  input {
    border-radius: 0;
  }
}
.suggestions {
  position: absolute;
  z-index: 99;
  background-color: white;
  border: 1px solid #BEBEBE;
  border-top: none;
  width: 100%;
  padding: 0;
  height: 200px;
  overflow: auto;
}
.suggestion-item {
  padding: 5px 10px;
  &.active, &:hover {
    background-color: #E4E6E8;
    cursor: pointer;
  }
}
