.back {
  float: left;
  color: gray;
  &:hover {
    color: black;
    cursor: pointer;
  }
}
.top {
  flex-shrink: 0;
  display: flex;
  margin-bottom: 20px;
}
.title {
  width: 100%;
  text-align: center;
  line-height: 28px;
  font-weight: bold;
}
.deck-name-contents {
  display: flex;
}
.deck-name-input {
  flex: 1;
}
.alert {
  color: red;
  width: 100%;
}
.deck-details-contents {
  flex-grow: 1;
  overflow: auto;
  width: 100%;
  & > * {
    margin-top: 50px;
  }
  & > :first-child {
    margin-top: 10px;
  }
}
.deck-name-contents-with-message {
  display: flex;
  flex-direction: column;
}
.deck-details-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
