.definition-row {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 0;
  padding-bottom: 5p;
  flex-grow: 2;
  height: 100%;
  overflow: auto;
  border-radius: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}