.ui.input.search-input {
  flex-shrink: 0;
  input {
    border-radius: 0;
  }
}
.ui.segment.definition {
  margin-top: 5px;
  padding: 10px;
  flex-grow: 1;
  border-radius: 0;
  overflow: auto;
}
#refer-word-search-button {
  width: 0;
  height: 0;
  display: none;
}
