.ui.segment.definition {
  margin-top: 5px;
  padding: 10px;
  flex-grow: 1;
  border-radius: 0;
  overflow: auto;
}
.dictionary-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
