.ui.menu.navbar {
  height: 100%;
  margin-right: 10px;
}

.ui.labeled.icon.menu.navbar .item {
  min-width: 1em;
}

.ui.labeled.icon.menu.navbar .item > .icon:not(.dropdown) {
  margin: 0 !important;
}