.scan-container {
  height: 100%;
}
.scan-path {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.scan-top {
  width: 100%;
}
.scan-path-label {
  margin-bottom: 10px;
}
.item.path {
  display: flex;
  justify-content: space-between;
}
.ui.checkbox {
  float: right;
}
.ui.vertical.menu .item.path {
  &:hover {
    background-color: #F2F2F2;
    cursor: pointer;
  }
}