h3.area-title {
  padding-bottom: 5px;
  border-bottom: 1px solid #BEBEBE;
}
.public-DraftEditor-content {
  border: 1px solid #BEBEBE;
  padding: 8px;
  margin-bottom: 5px;
  &:focus {
    border-color: #85B7D9;
  }
}
