.dictp-sound-img {
  width: 25px;
  height: 25px;
}
.dict-title {
  text-align: center;
  padding: 20px;
  border: 1px dashed black;
  font-weight: 700;
  font-size: 21px;
}
.dp-entry {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 700;
}