.dsl_headwords {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
}
.dsl_headwords p {
  font-weight: bold;
  font-size: 15px;
  margin: 0;
}
.dsl_b {
  font-weight: bold;
}
.dsl_i {
  font-style: italic;
}
.dsl_u {
  text-decoration: underline;
}
.dsl_m0 {
  padding-left: 0;
}
.dsl_m1 {
  padding-left: 9px;
}
.dsl_m2 {
  padding-left: 18px;
}
.dsl_m3 {
  padding-left: 27px;
}
.dsl_m4 {
  padding-left: 36px;
}
.dsl_m5 {
  padding-left: 45px;
}
.dsl_m6 {
  padding-left: 54px;
}
.dsl_m7 {
  padding-left: 63px;
}
.dsl_m8 {
  padding-left: 72px;
}
.dsl_m9 {
  padding-left: 81px;
}
.dsl_opt {
  display: inline;
  color: gray;
}
.dsl_p {
  color: green;
  font-style: italic;
}
.dsl_ref {
  color: blue;
  text-decoration: underline;
}