.dsl-headwords {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
}
.dsl-headwords p {
  font-weight: bold;
  font-size: 15px;
  margin: 0;
}
.dsl-b {
  font-weight: bold;
}
.dsl-i {
  font-style: italic;
}
.dsl-u {
  text-decoration: underline;
}
.dsl-m0 {
  padding-left: 0;
}
.dsl-m1 {
  padding-left: 9px;
}
.dsl-m2 {
  padding-left: 18px;
}
.dsl-m3 {
  padding-left: 27px;
}
.dsl-m4 {
  padding-left: 36px;
}
.dsl-m5 {
  padding-left: 45px;
}
.dsl-m6 {
  padding-left: 54px;
}
.dsl-m7 {
  padding-left: 63px;
}
.dsl-m8 {
  padding-left: 72px;
}
.dsl-m9 {
  padding-left: 81px;
}
.dsl-opt {
  display: inline;
  color: gray;
}
.dsl-p {
  color: green;
  font-style: italic;
}
.dsl-ref {
  color: blue;
  text-decoration: underline;
}